@import '_main';
@import '_header';
@import '_footer';


@import '_form';

.text-container {
  position: absolute;
  left: 25%;
  top: 30%;
}

.text-color h3 {
  color: white;
}

.text-color h4 {
  color: black;
}

