#header {
  background: #29AAA7;
  color: black;
  font-weight: blod;
  margin-bottom: 2*$space;
  text-align: right;
  .container {
    padding-bottom: $space/2;
    padding-top: $space/2;
  }

  }
  .links {
    float: left;
  }
}
