
<form accept-charset="UTF-8" action="" method="POST">

    <input type="email" name="email" placeholder="your_email@hotmail.com" class="form-input">
    <input type="hidden" name="utf8" value="✓">


    <button type="submit" class="form-button"> <h4 style='justify-content: center;'> SUBSCRIBE </h4></button>

</form>




<!-- https://oc.sjtu.edu.cn/login/canvas -->
<!-- to do
passer le truc en francais solve issue
look video comment faire pour tel ?? grid ? demander a paul !
pb footer solve !
clear les truc inutile
style a bit le logo pour avoir comme adri voulait
le lien du site sur le spirulinarur
input du form la centrer et style a bit
faire que la langue par default soit le francais !

-->
